workflowjson.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Serialize Image Data",
  "States": {
    "Serialize Image Data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:476575206270:function:serializeImageData",
        "Payload.$": "$"
      },
      "Next": "Classify Image"
    },
    "Classify Image": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:476575206270:function:classifyImage",
        "Payload.$": "$"
      },
      "Next": "Filter Inferences"
    },
    "Filter Inferences": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:476575206270:function:filterInferences",
        "Payload.$": "$"
      },
      "End": true
    }
  }
}